.skill.amazon {
    background-image: url("/img/amazon_skills.png");
    background-size: 1000%;
    display:block;
}

.amazon.jab {
    background-position: 0 0;
}
.amazon.power-strike {
    background-position: 11.1111% 0;
}
.amazon.poison-javelin {
    background-position: 22.2222% 0;
}
.amazon.impale {
    background-position: 33.3333% 0;
}
.amazon.lightning-bolt {
    background-position: 44.4444% 0;
}
.amazon.charged-strike {
    background-position: 55.5555% 0;
}
.amazon.plague-javelin {
    background-position: 66.6666% 0;
}
.amazon.fend {
    background-position: 77.7777% 0;
}
.amazon.lightning-strike {
    background-position: 88.8888% 0;
}
.amazon.lightning-fury {
    background-position: 100% 0;
}
.amazon.inner-sight {
    background-position: 0 50%;
}
.amazon.critical-strike {
    background-position: 11.1111% 50%;
}
.amazon.dodge {
    background-position: 22.2222% 50%;
}
.amazon.slow-missiles {
    background-position: 33.3333% 50%;
}
.amazon.avoid {
    background-position: 44.4444% 50%;
}
.amazon.penetrate {
    background-position: 55.5555% 50%;
}
.amazon.decoy {
    background-position: 66.6666% 50%;
}
.amazon.evade {
    background-position: 77.7777% 50%;
}
.amazon.valkyrie {
    background-position: 88.8888% 50%;
}
.amazon.pierce {
    background-position: 100% 50%;
}
.amazon.magic-arrow {
    background-position: 0 100%;
}
.amazon.fire-arrow {
    background-position: 11.1111% 100%;
}
.amazon.cold-arrow {
    background-position: 22.2222% 100%;
}
.amazon.multiple-shot {
    background-position: 33.3333% 100%;
}
.amazon.exploding-arrow {
    background-position: 44.4444% 100%;
}
.amazon.ice-arrow {
    background-position: 55.5555% 100%;
}
.amazon.guided-arrow {
    background-position: 66.6666% 100%;
}
.amazon.strafe {
    background-position: 77.7777% 100%;
}
.amazon.immolation-arrow {
    background-position: 88.8888% 100%;
}
.amazon.freezing-arrow {
    background-position: 100% 100%;
}