
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import "bulma";

@font-face {
  font-family: 'Diablo Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Diablo Heavy'), url('diablo.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html,
body{
  font-family: 'Roboto', sans-serif;
  background-color: #190A09;
}

#app {
	height:100%;
}

button:focus {
	outline:0;
}

.has-vertically-centered-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

@media screen and (max-width: 1087px) {
	.navbar > .container .navbar-brand {
		margin-left: 0;
	}

	.navbar > .container .navbar-menu {
		margin-right: 0;
	}
}

@media screen and (max-width: 625px) {
	.tree-tabs {
		font-size: .8rem;
	}
}


.navbar-dropdown a.navbar-item {
    padding-right: 0;
}