.skill.assassin {
    background-image: url("/img/assassin_skills.png");
    background-size: 1000%;
    display:block;
}

.assassin.tiger-strike {
    background-position: 0 0;
}
.assassin.dragon-talon {
    background-position: 11.1111% 0;
}
.assassin.dragon-claw {
    background-position: 22.2222% 0;
}
.assassin.fists-of-fire {
    background-position: 33.3333% 0;
}
.assassin.cobra-strike {
    background-position: 44.4444% 0;
}
.assassin.dragon-tail {
    background-position: 55.5555% 0;
}
.assassin.claws-of-thunder {
    background-position: 66.6666% 0;
}
.assassin.blades-of-ice {
    background-position: 77.7777% 0;
}
.assassin.dragon-flight {
    background-position: 88.8888% 0;
}
.assassin.phoenix-strike {
    background-position: 100% 0;
}
.assassin.claw-mastery {
    background-position: 0 50%;
}
.assassin.psychic-hammer {
    background-position: 11.1111% 50%;
}
.assassin.burst-of-speed {
    background-position: 22.2222% 50%;
}
.assassin.cloak-of-shadows {
    background-position: 33.3333% 50%;
}
.assassin.weapon-block {
    background-position: 44.4444% 50%;
}
.assassin.fade {
    background-position: 55.5555% 50%;
}
.assassin.shadow-warrior {
    background-position: 66.6666% 50%;
}
.assassin.mind-blast {
    background-position: 77.7777% 50%;
}
.assassin.venom {
    background-position: 88.8888% 50%;
}
.assassin.shadow-master {
    background-position: 100% 50%;
}
.assassin.fire-blast {
    background-position: 0 100%;
}
.assassin.shock-web {
    background-position: 11.1111% 100%;
}
.assassin.blade-sentinal {
    background-position: 22.2222% 100%;
}
.assassin.charged-bolt-sentry {
    background-position: 33.3333% 100%;
}
.assassin.wake-of-fire {
    background-position: 44.4444% 100%;
}
.assassin.blade-fury {
    background-position: 55.5555% 100%;
}
.assassin.lightning-sentry {
    background-position: 66.6666% 100%;
}
.assassin.wake-of-inferno {
    background-position: 77.7777% 100%;
}
.assassin.death-sentry {
    background-position: 88.8888% 100%;
}
.assassin.blade-shield {
    background-position: 100% 100%;
}