.skill.barbarian {
    background-image: url("/img/barbarian_skills.png");
    background-size: 1000%;
    display:block;
}

.barbarian.howl {
    background-position: 0 0;
}
.barbarian.find-potion {
    background-position: 11.1111% 0;
}
.barbarian.shout {
    background-position: 22.2222% 0;
}
.barbarian.taunt {
    background-position: 33.3333% 0;
}
.barbarian.battle-cry {
    background-position: 44.4444% 0;
}
.barbarian.find-item {
    background-position: 55.5555% 0;
}
.barbarian.battle-orders {
    background-position: 66.6666% 0;
}
.barbarian.grim-ward {
    background-position: 77.7777% 0;
}
.barbarian.warcry {
    background-position: 88.8888% 0;
}
.barbarian.battle-command {
    background-position: 100% 0;
}
.barbarian.sword-mastery {
    background-position: 0 50%;
}
.barbarian.axe-mastery {
    background-position: 11.1111% 50%;
}
.barbarian.mace-mastery {
    background-position: 22.2222% 50%;
}
.barbarian.polearm-mastery {
    background-position: 33.3333% 50%;
}
.barbarian.throwing-mastery {
    background-position: 44.4444% 50%;
}
.barbarian.spear-mastery {
    background-position: 55.5555% 50%;
}
.barbarian.increased-stamina {
    background-position: 66.6666% 50%;
}
.barbarian.iron-skin {
    background-position: 77.7777% 50%;
}
.barbarian.increased-speed {
    background-position: 88.8888% 50%;
}
.barbarian.natural-resistance {
    background-position: 100% 50%;
}
.barbarian.bash {
    background-position: 0 100%;
}
.barbarian.double-swing {
    background-position: 11.1111% 100%;
}
.barbarian.leap {
    background-position: 22.2222% 100%;
}
.barbarian.double-throw {
    background-position: 33.3333% 100%;
}
.barbarian.stun {
    background-position: 44.4444% 100%;
}
.barbarian.leap-attack {
    background-position: 55.5555% 100%;
}
.barbarian.concentrate {
    background-position: 66.6666% 100%;
}
.barbarian.frenzy {
    background-position: 77.7777% 100%;
}
.barbarian.whirlwind {
    background-position: 88.8888% 100%;
}
.barbarian.berserk {
    background-position: 100% 100%;
}