.skill.druid {
    background-image: url("/img/druid_skills.png");
    background-size: 1000%;
    display:block;
}

.druid.raven {
    background-position: 0 0;
}
.druid.poison-creeper {
    background-position: 11.1111% 0;
}
.druid.oak-sage {
    background-position: 22.2222% 0;
}
.druid.summon-spirit-wolf {
    background-position: 33.3333% 0;
}
.druid.carrion-vine {
    background-position: 44.4444% 0;
}
.druid.heart-of-wolverine {
    background-position: 55.5555% 0;
}
.druid.summon-dire-wolf {
    background-position: 66.6666% 0;
}
.druid.solar-creeper {
    background-position: 77.7777% 0;
}
.druid.spirit-of-barbs {
    background-position: 88.8888% 0;
}
.druid.summon-grizzly {
    background-position: 100% 0;
}
.druid.werewolf {
    background-position: 0 50%;
}
.druid.lycanthropy {
    background-position: 11.1111% 50%;
}
.druid.werebear {
    background-position: 22.2222% 50%;
}
.druid.maul {
    background-position: 33.3333% 50%;
}
.druid.feral-rage {
    background-position: 44.4444% 50%;
}
.druid.fire-claws {
    background-position: 55.5555% 50%;
}
.druid.rabies {
    background-position: 66.6666% 50%;
}
.druid.shock-wave {
    background-position: 77.7777% 50%;
}
.druid.hunger {
    background-position: 88.8888% 50%;
}
.druid.fury {
    background-position: 100% 50%;
}
.druid.firestorm {
    background-position: 0 102%;
}
.druid.molten-boulder {
    background-position: 11.1111% 102%;
}
.druid.arctic-blast {
    background-position: 22.2222% 102%;
}
.druid.fissure {
    background-position: 33.3333% 102%;
}
.druid.cyclone-armor {
    background-position: 44.4444% 102%;
}
.druid.twister {
    background-position: 55.5555% 102%;
}
.druid.volcano {
    background-position: 66.6666% 102%;
}
.druid.tornado {
    background-position: 77.7777% 102%;
}
.druid.hurricane {
    background-position: 88.8888% 102%;
}
.druid.armageddon {
    background-position: 100% 102%;
}