.skill.necromancer {
    background-image: url("/img/necromancer_skills.png");
    background-size: 1000%;
    display:block;
}

.necromancer.raise-skeleton {
    background-position: 0 0;
}
.necromancer.skeleton-mastery {
    background-position: 11.1111% 0;
}
.necromancer.clay-golem {
    background-position: 22.2222% 0;
}
.necromancer.golem-mastery {
    background-position: 33.3333% 0;
}
.necromancer.skeletal-mage {
    background-position: 44.4444% 0;
}
.necromancer.blood-golem {
    background-position: 55.5555% 0;
}
.necromancer.summon-resist {
    background-position: 66.6666% 0;
}
.necromancer.iron-golem {
    background-position: 77.7777% 0;
}
.necromancer.fire-golem {
    background-position: 88.8888% 0;
}
.necromancer.revive {
    background-position: 100% 0;
}
.necromancer.teeth {
    background-position: 0 50%;
}
.necromancer.bone-armor {
    background-position: 11.1111% 50%;
}
.necromancer.poison-dagger {
    background-position: 22.2222% 50%;
}
.necromancer.corpse-explosion {
    background-position: 33.3333% 50%;
}
.necromancer.bone-wall {
    background-position: 44.4444% 50%;
}
.necromancer.poison-explosion {
    background-position: 55.5555% 50%;
}
.necromancer.bone-spear {
    background-position: 66.6666% 50%;
}
.necromancer.bone-prison {
    background-position: 77.7777% 50%;
}
.necromancer.poison-nova {
    background-position: 88.8888% 50%;
}
.necromancer.bone-spirit {
    background-position: 100% 50%;
}
.necromancer.amplify-damage {
    background-position: 0 100%;
}
.necromancer.dim-vision {
    background-position: 11.1111% 100%;
}
.necromancer.weaken {
    background-position: 22.2222% 100%;
}
.necromancer.iron-maiden {
    background-position: 33.3333% 100%;
}
.necromancer.terror {
    background-position: 44.4444% 100%;
}
.necromancer.confuse {
    background-position: 55.5555% 100%;
}
.necromancer.life-tap {
    background-position: 66.6666% 100%;
}
.necromancer.attract {
    background-position: 77.7777% 100%;
}
.necromancer.decrepify {
    background-position: 88.8888% 100%;
}
.necromancer.lower-resist {
    background-position: 100% 100%;
}