.skill.paladin {
    background-image: url("/img/paladin_skills.png");
    background-size: 1000%;
    display:block;
}

.paladin.sacrifice {
    background-position: 0 0;
}
.paladin.smite {
    background-position: 11.1111% 0;
}
.paladin.holy-bolt {
    background-position: 22.2222% 0;
}
.paladin.zeal {
    background-position: 33.3333% 0;
}
.paladin.charge {
    background-position: 44.4444% 0;
}
.paladin.vengeance {
    background-position: 55.5555% 0;
}
.paladin.blessed-hammer {
    background-position: 66.6666% 0;
}
.paladin.conversion {
    background-position: 77.7777% 0;
}
.paladin.holy-shield {
    background-position: 88.8888% 0;
}
.paladin.fist-of-the-heavens {
    background-position: 100% 0;
}
.paladin.might {
    background-position: 0 50%;
}
.paladin.holy-fire {
    background-position: 11.1111% 50%;
}
.paladin.thorns {
    background-position: 22.2222% 50%;
}
.paladin.blessed-aim {
    background-position: 33.3333% 50%;
}
.paladin.concentration {
    background-position: 44.4444% 50%;
}
.paladin.holy-freeze {
    background-position: 55.5555% 50%;
}
.paladin.holy-shock {
    background-position: 66.6666% 50%;
}
.paladin.sanctuary {
    background-position: 77.7777% 50%;
}
.paladin.fanaticism {
    background-position: 88.8888% 50%;
}
.paladin.conviction {
    background-position: 100% 50%;
}
.paladin.prayer {
    background-position: 0 100%;
}
.paladin.resist-fire {
    background-position: 11.1111% 100%;
}
.paladin.resist-cold {
    background-position: 22.2222% 100%;
}
.paladin.resist-lightning {
    background-position: 33.3333% 100%;
}
.paladin.defiance {
    background-position: 44.4444% 100%;
}
.paladin.cleansing {
    background-position: 55.5555% 100%;
}
.paladin.vigor {
    background-position: 66.6666% 100%;
}
.paladin.meditation {
    background-position: 77.7777% 100%;
}
.paladin.redemption {
    background-position: 88.8888% 100%;
}
.paladin.salvation {
    background-position: 100% 100%;
}