.skill.sorceress {
    background-image: url("/img/sorceress_skills.png");
    background-size: 1000%;
    display:block;
}

.sorceress.ice-bolt {
    background-position: 0 0;
}
.sorceress.frozen-armor {
    background-position: 11.1111% 0;
}
.sorceress.frost-nova {
    background-position: 22.2222% 0;
}
.sorceress.ice-blast {
    background-position: 33.3333% 0;
}
.sorceress.shiver-armor {
    background-position: 44.4444% 0;
}
.sorceress.glacial-spike {
    background-position: 55.5555% 0;
}
.sorceress.blizzard {
    background-position: 66.6666% 0;
}
.sorceress.chilling-armor {
    background-position: 77.7777% 0;
}
.sorceress.frozen-orb {
    background-position: 88.8888% 0;
}
.sorceress.cold-mastery {
    background-position: 100% 0;
}
.sorceress.charged-bolt {
    background-position: 0 50%;
}
.sorceress.telekinesis {
    background-position: 11.1111% 50%;
}
.sorceress.static-field {
    background-position: 22.2222% 50%;
}
.sorceress.lightning {
    background-position: 33.3333% 50%;
}
.sorceress.nova {
    background-position: 44.4444% 50%;
}
.sorceress.chain-lightning {
    background-position: 55.5555% 50%;
}
.sorceress.teleport {
    background-position: 66.6666% 50%;
}
.sorceress.thunder-storm {
    background-position: 77.7777% 50%;
}
.sorceress.energy-shield {
    background-position: 88.8888% 50%;
}
.sorceress.lightning-mastery {
    background-position: 100% 50%;
}
.sorceress.fire-bolt {
    background-position: 0 100%;
}
.sorceress.warmth {
    background-position: 11.1111% 100%;
}
.sorceress.inferno {
    background-position: 22.2222% 100%;
}
.sorceress.blaze {
    background-position: 33.3333% 100%;
}
.sorceress.fireball{
    background-position: 44.4444% 100%;
}
.sorceress.fire-wall{
    background-position: 55.5555% 100%;
}
.sorceress.enchant {
    background-position: 66.6666% 100%;
}
.sorceress.meteor {
    background-position: 77.7777% 100%;
}
.sorceress.fire-mastery {
    background-position: 88.8888% 100%;
}
.sorceress.hydra {
    background-position: 100% 100%;
}